/* HEADER */

header {
    padding: 1rem 2rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header > a {
    filter: invert(1);
}

header > a img {
    width: 1.5rem;
}

/* NAV */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a {
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
    padding: var(--button-padding);
    transition: var(--transition);
}

/* UL */

ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
}

/* LI */

ul li {
    margin: 0 1.5rem;
}

/* LI ---> A */

header li a:hover {
    background-color: var(--primary);
    color: var(--black);
}

header li:nth-child(4) a {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--primary);
    padding: var(--button-padding);
}

header li:nth-child(4) a:hover {
    background-color: var(--primary);
}

/* MAIN */

main {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

/* FIRST HOME SECTION */

#first-home {
    background-image: url("https://cdn.mediatheque.epmoo.fr/link/3c9igq/oyg1bkh200wjhz4.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
}

#first-home h1 {
    color: var(--white);
    font-size: 3.5rem;
    margin-top: 1rem;
}

#first-home h2 {
    width: 80%;
    color: var(--white);
    font-size: 2rem;
    margin-top: 2rem;
}

#first-home a {
    color: var(--white);
    background-color: var(--black);
    text-decoration: underline;
    padding: 1rem 2rem;
    margin-top: 2rem;
    transition: var(--transition);
}

#first-home a:hover {
    color: var(--primary);
}

#second-home {
    min-height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECOND HOME SECTION */

#second-home h2 {
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

/* CARTES DES EXPOSITIONS */
#second-home ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#second-home ul li {
    background: var(--white);
    border: 1px solid var(--light-grey);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: var(--transition);
    height: 100%;
    width: 25%;
}

#second-home ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
}

#second-home ul li img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

#second-home ul li a {
    text-decoration: underline;
    color: var(--black);
    padding: 1rem 0rem;
    transition: var(--transition);  
    margin-top: auto;
}

#second-home ul li a:hover {
    color: var(--primary);
}

#second-home ul li h3 {
    font-size: 1.3rem;
}
#second-home ul li p {
    color: var(--grey);
    margin-bottom: auto;
}

/* FOOTER */

footer {
    background-color: var(--grey);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    min-height: 10rem;
    width: 100vw;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
}

footer ul li a {
    text-decoration: underline;
    color: var(--white);
}

footer p {
    font-size: .8rem;
}

/* STYLISATION DU TABLEAU */
#stats {
    text-align: center;
    margin: 50px auto;
    width: 90%;
    max-width: 800px;
    margin-bottom: 20rem;
}

#stats table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: #fff;
}

#stats caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

#stats thead {
    font-weight: bold;
    font-size: 1.4rem;
}

#stats th, 
#stats td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

#stats th {
    background-color: var(--primary); /* Bleu foncé pour l'accessibilité */
    color: var(--black);
}

#stats tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris clair pour alterner */
}

#stats tr:hover {
    background-color: #dcdcdc; /* Effet au survol */
}
